<span>
    <button id="likes_button"
        class="rounded-md border border-neutral-400 px-1 py-[0px] text-xs font-normal text-primary-200 hover:text-primary-500 dark:border-neutral-400 dark:text-neutral-400 dark:hover:text-primary-500"
        onclick="process_article()" style="border-width: 2px;">
        <span id="likes_button_heart" style="display:none" class="inline-block align-text-bottom">{{ partial "icon.html" "heart" }} </span>
        <span id="likes_button_emtpty_heart" class="inline-block align-text-bottom">{{ partial "icon.html" "heart" }}</span>
        <span id="likes_button_text">&nbsp;Like</span>
    </button>
</span>
{{- /* Trim EOF */ -}}