{{- partial "partials/functions/warnings.html" .Site -}}
<!DOCTYPE html>
<html lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default " en") }} {{- . -}} {{ end }}" dir="{{ if .Site.Params.rtl | default false -}}
    rtl
  {{- else -}}
    ltr
  {{- end }}" class="scroll-smooth" data-default-appearance="{{ .Site.Params.defaultAppearance | default " light" }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default " true" }}">
{{- partial "head.html" . -}}

<body class="flex flex-col h-screen px-6 m-auto text-lg leading-7 max-w-7xl bg-neutral text-neutral-900 dark:bg-neutral-800 dark:text-neutral sm:px-14 md:px-24 lg:px-32">
  {{ partial "preloader.html" . }}
  <div id="the-top" class="absolute flex self-center">
    <a class="px-3 py-1 text-sm -translate-y-8 rounded-b-lg bg-primary-200 focus:translate-y-0 dark:bg-neutral-600"
      href="#main-content"><span
        class="font-bold text-primary-600 ltr:pr-2 rtl:pl-2 dark:text-primary-400">&darr;</span>{{ i18n
      "nav.skip_to_main" }}</a>
  </div>
  {{ $header := print "partials/header/" .Site.Params.header.layout ".html" }}
  {{ if templates.Exists $header }}
  {{ partial $header . }}
  {{ else }}
  {{ end }}
  <div class="relative flex flex-col grow">
    <main id="main-content" class="grow">
      {{ block "main" . }}{{ end }}
      {{ if and (.Site.Params.footer.showScrollToTop | default true) (gt .WordCount 1) }}
      {{- partial "scroll-to-top.html" . -}}
      {{ end }}
    </main>
    {{- partial "sliderzoom.html" . -}}
    {{- partial "footer.html" . -}}
    {{ if .Site.Params.enableSearch | default false }}
    {{- partial "search.html" . -}}
    {{ end }}
  </div>
  <script>
    $(window).on("load", function () {    
    var fadeTarget = document.getElementById("preloader");
    var fadeEffect = setInterval(function () {
        if (fadeTarget.style.opacity > 0) {
            fadeTarget.style.opacity -= 0.08;
        } else {
            clearInterval(fadeEffect);
            fadeTarget.remove();
        }
    }, 20);
});
  </script>
</body>
{{ if .Site.Params.buymeacoffee.globalWidget | default false }}
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="{{ .Site.Params.buymeacoffee.identifier }}" data-description="Support me on Buy me a coffee!" data-message="{{ .Site.Params.buymeacoffee.globalWidgetMessage | default "" }}"
  data-color="{{ .Site.Params.buymeacoffee.globalWidgetColor | default "#FFDD00" }}" data-position="{{ .Site.Params.buymeacoffee.globalWidgetPosition | default "Left" }}" data-x_margin="18" data-y_margin="18"></script>
{{ end }}
</html>
