{{ $recentArticles := 5 }}
{{ $showMoreLinkDest := "/posts" }}
{{ if index .Site.Params.homepage "showRecentItems" }}
{{ $recentArticles = .Site.Params.homepage.showRecentItems }}
{{ end }}

<h2 class="mt-8 text-2xl font-extrabold mb-10">Featured posts:</h2>

<div id="CardViewScreenWidth" class="">
    {{ partial "recent-articles/cardview-fullwidth.html" . }}
</div>

<div id="CardViewProse" class="hidden h-full">
    {{ partial "recent-articles/cardview.html" . }}
</div>

<div id="NormalView" class="hidden h-full">
    {{ partial "recent-articles/list.html" . }}
</div>

{{ if .Site.Params.homepage.showAllLink }}
<div class="mt-10 flex justify-center">
    <a href="{{ .Site.Params.homepage.showAllLinkDest }}">
        <button
            class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">View all posts</button>
    </a>
</div>
{{ end }}