
{{ $image0 := .Page.Resources.GetMatch (.Get 0) }}
{{ $image1 := .Page.Resources.GetMatch (.Get 1) }}
{{ $height0 := (div ( mul $image0.Height 1.0 ) $image0.Width ) }}
{{ $height1 := (div ( mul $image1.Height 1.0 ) $image1.Width ) }}
{{ $title0 := (cond (isset $.Params 2) (.Get 2) "") }}
{{ $title1 := (cond (isset $.Params 3) (.Get 3) "") }}
{{ $scaling := (cond (isset $.Params 4) (.Get 4) 1) }}

<p style="text-align: center; margin: 0;">
<button class="slideroverlay" style="--viewwidth:calc({{$scaling}}*350)px;margin-top:32px;margin-bottom:32px">
  <div><div style="width:49%;float:left;transform:translate(0px,-25px);text-align:left;"><b>{{$title0}}</b></div><div style="width:49%;float:right;transform:translate(0px,-25px);text-align:right;"><b>{{$title1}}</b></div></div> 
  <div class="img-comp-container" style="--img0:{{.Get 0}};--img1:{{.Get 1}};width:calc({{$scaling}}*var(--viewwidth));height:calc( {{$scaling}}*{{ math.Max $height0 $height1 }}*var(--viewwidth) );">
      <div class="img-comp-img img-comp-base">
        <img src="{{.Get 1}}" style="width:calc({{$scaling}}*var(--viewwidth));margin-top:0;margin-bottom:0;">
      </div>
      <div class="img-comp-img img-comp-overlay" style="height:calc( {{$scaling}}*{{ $height1 }}*var(--viewwidth) )px">
        <img src="{{.Get 0}}" style="width:calc({{$scaling}}*var(--viewwidth));margin-top:0;margin-bottom:0;">
      </div>
  </div>
</button></p>
<script>
      var newwidth = document.getElementById('single_header').offsetWidth + "px";
      x = document.getElementsByClassName("img-comp-overlay");
      for (i = 0; i < x.length; i++) {
        x[i].parentElement.parentElement.style.setProperty('--viewwidth',newwidth);
      }
</script> 